.card-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
    
   
  }
  
  .card-img-custom {
    height: 400px; /* Set this to your desired fixed height */
    object-fit: cover;
    
  }
  
  .card-body-custom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    

  }
  