.custom-btn {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
  
  .star-rating {
  display: flex;
}

.star {
  font-size: 1.5rem;
  color: #ffc107;
}

.star.filled {
  color: #ffc107;
}

.star.half {
  position: relative;
}

.star.half::before {
  content: "★";
  position: absolute;
  width: 50%;
  overflow: hidden;
  color: #ffc107;
}

.star.empty {
  color: #e4e5e9;
}
